li.ui-li {
  font-size: large; }

#pattern {
  font: 18px bold "Andale Mono" monospace; }

.ui-bar-a a.ui-link, .ui-bar-a a.ui-link:visited {
  color: white; }

.ui-header .ui-title {
  font-size: 20px; }

ol.ui-listview {
  min-height: 50px; }

@media only screen and (max-width: 320px) {
  .ui-header .ui-title {
    font-size: 18px; } }
.unsupported-browser {
  background: darkred; }

.content {
  margin: 20px auto;
  padding: 20px 0;
  width: 800px;
  background: white;
  border-radius: 20px; }
  .content > img {
    width: 300px;
    margin-left: 250px; }
  .content h1, .content h2 {
    font-family: impact;
    text-align: center;
    margin: 0; }
  .content p {
    font: 16px bold Verdana Geneva sans-serif;
    text-align: center; }
  .content li {
    float: left;
    margin-left: 25px;
    list-style: none; }

br {
  clear: both; }
