li.ui-li {
  font-size: large;
}

#pattern {
    font-family: "Andale Mono" monospace;
    font-weight: bold;
    font-size: 18px;
}

#spinner {
    display: none;
    height: 24px;
    margin-top: -10px;
}
