<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Meastro</title>
    <link rel="stylesheet" href="css/main.css">


    <script type="text/template" id="animal-template">
      <h1><%= kind %></h1>
      <h2><%= name %></h2>
      <img src='<%= image %>'/>
    </script>

  </head>

  <body>
    <div id="container">
    </div>
    <script src="lib/jquery-1.6.3.js"></script>
    <script src="lib/word-maestro.js"></script>
    <script src="lib/main.js"></script>
  </body>
</html>

